@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* Colors-------------------------------------------------------------- */
:root {
  --primary-color: #101214;
  --secondary-color: #73808D;
  --text-color: #111;
}

/* -------------------------------------------------------------------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
  border: 0;
	box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}
/* -------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
/* -------------------------------------------------------------------- */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  transition: all 0.3s ease 0s;
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

/* SECTION-CV---------------------------------------------------------------- */
.section-cv {
}
.section-cv:not(:last-child) {
  margin: 0 0 30px;
}
.section-cv__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px;
}
.section-cv__card {
}
.section-cv__card:not(:last-child) {
  margin: 0 0 20px;
}

/* CARD-CV---------------------------------------------------------------- */
.card-cv {
}
.card-cv > *:not(:last-child) {
  margin: 0 0 10px;
}
.card-cv__title {
  font-size: 16px;
  font-weight: 700;
}
.card-cv__subtitle {
}
.card-cv__years {
  color: var(--secondary-color);
}
.card-cv__list {
}
.card-cv__list > li:not(:last-child) {
  margin: 0 0 5px;
}
.card-cv__text {
}

/* HEADER---------------------------------------------------------------------- */
.header {
  padding: 20px 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__container > *:not(:last-child) {
  margin: 0 0 10px;
}
.header__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.header__avatar img {
  max-width: 100%;
}
.header__name {
  font-size: 32px;
  font-weight: 700;
}
.header__name span {
  color: #fff;
}
.header__specialization {
  font-size: 18px;
}
@media (max-width: 767px) {
  .header__avatar {
    width: 120px;
    height: 120px;
  }
  .header__name {
    font-size: 24px;
  }
  .header__specialization {
    font-size: 16px;
  }
}

/* MAIN------------------------------------------------------------------------ */
.main {
  flex: 1 1 auto;
}
.main__cv {
}

/* CV-------------------------------------------------------------------------- */
.cv {
}
.cv__container {
}
.cv__left {
  padding: 2rem 0 1rem 0;
}
#contacts {
}
#contacts a {
  display: inline-flex;
  align-items: center;
}
#contacts svg {
  height: 25px;
  width: 25px;
  margin: 0 10px 0 0;
}
#skills {
}
#about {
}
#languages {
}
#certificates {
}
#certificates img {
  max-width: 100%;
}
.cv__section {
}
.cv__right {
  padding: 1rem 0 2rem 0;
}
#experience {
}
#education {
}
#code {
}
#code figure {
  background-color: #f6f8fa;
  padding: 0.5rem 1rem;
}
#code figcaption {
  text-align: center;
}
#code pre {
  overflow: auto;
}
#code pre > code {
  display: block;
  word-wrap: normal;
}
@media (min-width: 768px) {
  .cv {
    padding: 4rem 0;
  }
  .cv__container {
    display: flex;
  }
  .cv__left {
    border-right: 2px solid var(--secondary-color);
    text-align: right;
    padding: 0 2rem 0 0;
    flex: 0 0 50%;
  }
  .cv__right {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    padding: 0 0 0 2rem;
  }
}
@media (max-width: 767.98px) {
  .cv__container *:not(:last-child) {
    text-align: center;
  }
}

/* FOOTER---------------------------------------------------------------------- */
.footer {
  background-color: var(--primary-color);
  color: #fff;
}
.footer__container {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__body {
}
.footer__date {
}
.footer__link {
  color: inherit;
  transition: color 0.3s ease 0s;
}
.footer__link_github {
}
.footer__link_course {
  width: 100px;
  transition: transform 0.3s ease 0s;
}
.footer__link_course img {
  max-width: 100%;
}
.footer__link_course:hover {
  transform: scale(1.1);
}
@media (max-width: 425px) {
  .footer__container {
    min-height: 50px;
  }
}